In [13]:
import pandas as pd 
import numpy as np

In [14]:
book = pd.read_csv("book.csv")
book

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,1,0,0,1,1,1,0,1,1
1996,0,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,1,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0

In [15]:
book.shape

(2000, 11)

In [16]:
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine,correlation

In [17]:
book =1-pairwise_distances(book.values,metric="cosine")

In [18]:
book

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [19]:
book_df=pd.DataFrame(book)
book_df

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,1.000000,0.000000,0.0,0.516398,0.408248,0.000000,0.577350,0.408248,0.408248,0.577350,...,0.516398,0.000000,0.654654,0.0,0.0,0.235702,0.0,0.0,0.000000,0.0
1,0.000000,1.000000,0.0,0.447214,0.000000,0.577350,0.000000,0.000000,0.707107,0.500000,...,0.447214,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
2,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
3,0.516398,0.447214,0.0,1.000000,0.632456,0.258199,0.447214,0.632456,0.316228,0.894427,...,0.600000,0.000000,0.507093,0.0,0.0,0.365148,0.0,0.0,0.447214,0.0
4,0.408248,0.000000,0.0,0.632456,1.000000,0.000000,0.000000,0.000000,0.000000,0.707107,...,0.632456,0.000000,0.534522,0.0,0.0,0.577350,0.0,0.0,0.707107,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.235702,0.000000,0.0,0.365148,0.577350,0.471405,0.000000,0.000000,0.000000,0.408248,...,0.547723,0.408248,0.771517,0.0,0.0,1.000000,0.0,0.0,0.408248,0.0
1996,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,1.0,0.0,0.000000,0.0
1997,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,1.0,0.000000,0.0
1998,0.000000,0.000000,0.0,0.447214,0.707107,0.000000,0.000000,0.000000,0.000000,0.500000,...,0.447214,0.000000,0.377964,0.0,0.0,0.408248,0.0,0.0,1.000000,0.0
1999,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,1.0

In [21]:
book_df.iloc[0:10, 0:10]

,0,1,2,3,4,5,6,7,8,9
0,1.000000,0.000000,0.0,0.516398,0.408248,0.000000,0.577350,0.408248,0.408248,0.577350
1,0.000000,1.000000,0.0,0.447214,0.000000,0.577350,0.000000,0.000000,0.707107,0.500000
2,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.516398,0.447214,0.0,1.000000,0.632456,0.258199,0.447214,0.632456,0.316228,0.894427
4,0.408248,0.000000,0.0,0.632456,1.000000,0.000000,0.000000,0.000000,0.000000,0.707107
5,0.000000,0.577350,0.0,0.258199,0.000000,1.000000,0.000000,0.000000,0.408248,0.288675
6,0.577350,0.000000,0.0,0.447214,0.000000,0.000000,1.000000,0.707107,0.000000,0.500000
7,0.408248,0.000000,0.0,0.632456,0.000000,0.000000,0.707107,1.000000,0.000000,0.353553
8,0.408248,0.707107,0.0,0.316228,0.000000,0.408248,0.000000,0.000000,1.000000,0.353553
9,0.577350,0.500000,0.0,0.894427,0.707107,0.288675,0.500000,0.353553,0.353553,1.000000

In [26]:
np.fill_diagonal(book,0)
book_df.iloc[0:10,0:10]

,0,1,2,3,4,5,6,7,8,9
0,0.000000,0.000000,0.0,0.516398,0.408248,0.000000,0.577350,0.408248,0.408248,0.577350
1,0.000000,0.000000,0.0,0.447214,0.000000,0.577350,0.000000,0.000000,0.707107,0.500000
2,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.516398,0.447214,0.0,0.000000,0.632456,0.258199,0.447214,0.632456,0.316228,0.894427
4,0.408248,0.000000,0.0,0.632456,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107
5,0.000000,0.577350,0.0,0.258199,0.000000,0.000000,0.000000,0.000000,0.408248,0.288675
6,0.577350,0.000000,0.0,0.447214,0.000000,0.000000,0.000000,0.707107,0.000000,0.500000
7,0.408248,0.000000,0.0,0.632456,0.000000,0.000000,0.707107,0.000000,0.000000,0.353553
8,0.408248,0.707107,0.0,0.316228,0.000000,0.408248,0.000000,0.000000,0.000000,0.353553
9,0.577350,0.500000,0.0,0.894427,0.707107,0.288675,0.500000,0.353553,0.353553,0.000000

In [28]:
book_df.idxmax(axis=1)[0:10]

0     231
1      21
2       0
3     158
4      11
5      12
6      20
7    1658
8     140
9      15
dtype: int64